.Rhistory
.RData
.Ruserdat
.Ruserdata
.Rproj.user

# Use command in terminal to add specific files to .gitignore
# find . -size +50M | cat >> .gitignore
*output*.csv
*.*~

./.git/objects/04/5dabe09b2881122f9546ff15a066bd8a5890c7
./.git/objects/db/92490b334ab9c89580d40ff8793f3566ecb347
./.git/objects/64/f061d984615b890216db7065b10e3fbe58b50c
./.git/objects/d5/0b41240032b027f11e4e3fb4eac15fb03bb939
./.git/objects/7c/0259d1041acf107ef02303c6b56bdab2a947df
./.git/objects/4d/9d4032c610d6425a110ff06dc86285aacaf9f8
./.git/objects/30/8bcdab59b94f8b46bec538f0b7d8074a67dd1b
./.git/objects/24/c792714bf5e363b80ca9ac1294a275a5b81900
./Analysis/MDI_runs/Full_sets_NAs_dropped_above_0.1/output_full_na_sets.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_1.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_2.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_3.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_4.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_5.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_6.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_7.csv
./.git/objects/04/5dabe09b2881122f9546ff15a066bd8a5890c7
./.git/objects/db/92490b334ab9c89580d40ff8793f3566ecb347
./.git/objects/64/f061d984615b890216db7065b10e3fbe58b50c
./.git/objects/d5/0b41240032b027f11e4e3fb4eac15fb03bb939
./.git/objects/7c/0259d1041acf107ef02303c6b56bdab2a947df
./.git/objects/4d/9d4032c610d6425a110ff06dc86285aacaf9f8
./.git/objects/30/8bcdab59b94f8b46bec538f0b7d8074a67dd1b
./.git/objects/24/c792714bf5e363b80ca9ac1294a275a5b81900
./Analysis/MDI_runs/Full_sets_NAs_dropped_above_0.1/output_full_na_sets.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_1.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_2.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_3.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_4.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_5.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_6.csv
./Analysis/MDI_runs/vsn_many_seeds/out_seed_7.csv
./.git/objects/04/e76f87f5af4b09f456cf4bbb541656b560cc5e
./.git/objects/5a/66334bd7fc41f92f3ac5c6d779ec902ed989c6
./.git/objects/df/fc4d97202a8dd341e61363d7ce476b37f55f10
./.git/objects/e7/2f6d3149a7ff14f34fcff6d09b3902cbb50b41
./.git/objects/pack/pack-8d22626f70f0ddd2876f09925509c30e404afa57.pack
./Data/BCC_data/Raw_data/BRCA.exp.348.med.csv
./Data/PanCancer/mRNA_filled.csv
./Data/PanCancer/preprocessed-methylation-data.RData
./Data/PanCancer/preprocessed-miRNA-data.RData
./Data/PanCancer/preprocessed-mRNA-data.RData
./Data/PanCancer/preprocessed-RPPA-data.RData
